.tab-body-shell {
	position: relative;
	border-left: 1px solid rgba($color: #000000, $alpha: 0.25);
	border-right: 1px solid rgba($color: #000000, $alpha: 0.25);
	min-height: 100vh;
	overflow: hidden;
	padding: 50px;
	.plt-canvas {
		min-height: 100vh;
	}
}