nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > ul {
    border-bottom: 1px solid var(--light-grey);
  }
  ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    width: 100%;

    li {
      margin: 0 20px;
	  cursor: pointer;
    }
  }
  #submenu {
    display: flex;
    justify-content: flex-end;
	width: 100%;
   
    div {
      display: none;
	  border-bottom: 1px solid  var(--light-grey);
	  width: 100%;
      &.show {
        display: flex;
		justify-content: flex-end;
		width: 100%;
      }
    }
  }
}
