 :root {
	--light-grey: rgba(0,0,0,0.25);
	--mobile-breakpoint: 768px;
 }
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
 .hide {
	display: none;
 }
 .show {
	display: default;
 }

 .game-canvases {
	width: 100vw;
	height: 400px;
 }
 button {
	cursor: pointer;
 }

 a, a:visited {
	color: #333;
 }

 .general-layout {
	margin: 0 20px;
 }